{{- /*gotype: source/apps/frontend/controller.AssignAbTestingEdit*/ -}}
{{$Lang := .Schema.LANG.Pages.AbTesting}}
<div class="dm21 d-none" data-toggle="collapse" href="#collapseAdtags">
    <div class="dm13">
        <a href="#" class="">{{$Lang.AdTag}}</a>
    </div>
    <div class="dm15">
        <div class="dm22">
            <span id="text_for_tag">{{$Lang.AllAdTag}}</span>
        </div>
    </div>
    <div class="dm23">
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
            </svg>
        </button>
    </div>
</div>
<div class="collapse d-none" id="collapseAdtags" data-parent=".accordion">
    <div class="dm16 block_tag">
        <div class="pp7" style="margin: 0;">
            <span style="width: 32px;height: 32px;background: #EEEEEE;border: 1px solid #ccc;border-right: 0;border-radius: 2px 0 0 2px;display: flex;align-items: center;justify-content: center;">
                <img src="https://apps.valueimpression.com/assets/svg/icons/search@16.svg" alt="Search">
            </span>
            <input style="width: 100%;" class="pp10" type="text" placeholder="{{$Lang.SearchAdTag}}" id="search_ad_tag">
            <a href="#" class="remove_all_tag">Clear</a>
        </div>
        <div class="dm17">
            <div class="dm18 box-target" id="list_ad_tag"></div>
            <div class="dm19 box-target-selected box_ad_tag">
                {{range .AdTagsIncluded}}
                    <div class="dm20 target-item item_selected {{if eq .TableInventoryAdTag.Status.Int 2}}bg-gray-200{{end}}" id="{{.TableInventoryAdTag.Id}}">
                        <span>{{.TableInventoryAdTag.Name}}</span>
                        <button class="remove_tag" id="{{.TableInventoryAdTag.Id}}" name="{{.TableInventoryAdTag.Name}}" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z"></path>
                            </svg>
                        </button>
                    </div>
                {{end}}
            </div>
            <input hidden value="{{.IsMoreTag}}" id="is_more_tag"/>
            <input hidden value="{{.TagLastPage}}" id="last_page_tag"/>
        </div>
    </div>
</div>
