{{- /*gotype: source/apps/frontend/controller.AssignAbTestingEdit*/ -}}
{{$Lang := .Schema.LANG.Pages.LineItem}}
<div class="dm21 test_type_auction_timeout d-none" data-toggle="collapse" href="#collapseGeography">
    <div class="dm13">
        <a href="#" class="">{{$Lang.Geography}}</a>
    </div>
    <div class="dm15">
        <div class="dm22">
            <span id="text_for_geo">{{$Lang.AllGeographies}}</span>
        </div>
    </div>
    <div class="dm23">
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
            </svg>
        </button>
    </div>
</div>
<div class="collapse test_type_auction_timeout d-none" id="collapseGeography" data-parent=".accordion">
    <div class="dm16 block_geo">
        <div class="pp7" style="margin: 0;">
            <span style="width: 32px;height: 32px;background: #EEEEEE;border: 1px solid #ccc;border-right: 0;border-radius: 2px 0 0 2px;display: flex;align-items: center;justify-content: center;">
                <img src="https://apps.valueimpression.com/assets/svg/icons/search@16.svg" alt="Search">
            </span>
            <input style="width: 100%;" class="pp10" type="text" placeholder="{{$Lang.SearchGeography}}" id="search_geography">
            <a href="#" class="remove_all_geo">{{$Lang.Clear}}</a>
        </div>
        <div class="dm17">
            <div class="dm18 box-target" id="list_geography">
                {{$len5 := len .Countries}}
                <div class="list-group list-group-flush my-n3 pt-3 box_empty_geo" {{if ne $len5 0}}hidden{{end}}>
                    <div class="list-group-item">
                        <div id="load_empty_geo" class="d-flex flex-row align-items-center px-md-2">
                            <div class="col p-0 text-center">
                                <h6 class="m-0 font-weight-semibold fs-12">No data available</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {{range .Countries}}
                    <div class="dm20 target-item" id="{{.TableCountry.Id}}">
                        <span>{{.TableCountry.Name}}</span>
                        <button class="add_country" data-id="{{.TableCountry.Id}}" name="{{.TableCountry.Name}}"
                                type="button" {{if (InArray .TableCountry.Id $.CountryOfAbTesting false)}}hidden{{end}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                            </svg>
                        </button>
                    </div>
                {{end}}
            </div>
            {{/*Left Box GEO*/}}
            <div class="dm19 box-target-selected box_geography">
                {{range .CountriesIncluded}}
                    <div class="dm20 target-item item_selected" id="{{.TableCountry.Id}}">
                        <span>{{.TableCountry.Name}}</span>
                        <button class="remove_Geo" id="{{.TableCountry.Id}}" name="{{.TableCountry.Name}}" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z"></path>
                            </svg>
                        </button>
                    </div>
                {{end}}
            </div>
            {{/*Right Box GEO*/}}
            <input hidden value="{{.IsMoreGeography}}" id="is_more_geography"/>
            <input hidden value="{{.GeoLastPage}}" id="last_page_geo"/>
        </div>
    </div>
</div>
