<div class="inline">
    <img src="/assets/img/icon-target.png" width="23px" alt=""
         data-bs-container="body" data-bs-placement="right"
         data-bs-toggle="popover" data-bs-trigger="click"
         title="<strong>Target</strong>" data-bs-content="{{.HtmlContent}}">
</div>