{{- /*gotype: source/apps/frontend/controller.AssignLineItemIndex*/ -}}
<div class="d-block">
    <div class="text-truncate" title="{{.LineItem.TableLineItem.Name}}"
          style="max-width:400px">{{.LineItem.TableLineItem.Name}}</div>
    <span class="d-block small text-muted text-truncate"
          style="width: 300px; white-space: nowrap">{{.LineItem.TableLineItem.Description}}</span>
</div>