{{- /*gotype: source/apps/frontend/model.InventoryAdTagRecord*/ -}}
<span>{{.TableInventoryAdTag.Status}}</span>
{{/*{{if eq .TableInventoryAdTag.Status 1}}*/}}
{{/*    <span class="badge bg-success text-capitalize py-2">{{.TableInventoryAdTag.Status}}</span>*/}}
{{/*{{else if eq .TableInventoryAdTag.Status 2}}*/}}
{{/*    <span class="badge bg-gray-50 text-gray-600 py-2">{{.TableInventoryAdTag.Status}}</span>*/}}
{{/*{{else if eq .TableInventoryAdTag.Status 3}}*/}}
{{/*    <span class="badge bg-danger py-2">{{.TableInventoryAdTag.Status}}</span>*/}}
{{/*{{end}}*/}}