{{- /*gotype: source/apps/frontend/model.BlockingRecord*/ -}}
<div class="text-truncate" title="{{.TableBlocking.RestrictionName}}"
     style="max-width:500px">{{.TableBlocking.RestrictionName}}</div>