{{- /*gotype: source/apps/frontend/model.TemplateRecord*/ -}}
<div class="d-flex align-items-center">
    <div class="p-0 m-0 border border-gray-300" style="width: 20px;height: 20px; background-color: {{.TableTemplate.Color}}"></div>
    <span class="text-center m-0">{{.TableTemplate.Color}}</span>
</div>