{{- /*gotype: source/apps/frontend/controller.AssignLineItemIndexV2*/ -}}
<div class="d-block">
    <div class="text-truncate" title="{{.LineItem.TableLineItemV2.Name}}"
          style="max-width:400px">{{.LineItem.TableLineItemV2.Name}}</div>
    <span class="d-block small text-muted text-truncate"
          style="width: 300px; white-space: nowrap">{{.LineItem.TableLineItemV2.Description}}</span>
</div>