<div class="pp7">
    {{if eq .Action "on"}}
        <button class="btn btn-custom-block text-nowrap block-ad" data-ad="{{.ID}}" data-block="off">BLOCK AD</button>
    {{else}}
        <button class="btn btn-custom-unblock text-nowrap block-ad" data-ad="{{.ID}}" data-block="on">UNBLOCK AD</button>
    {{end}}
    </label>
</div>