<div class="form-check form-switch mb-0 ps-0">
    <input type="checkbox" {{if eq .Status 1}}checked{{end}} data-toggle="toggle" data-on="enable" data-off="disable"
           data-width="100"
           data-onstyle="dominant btn-sm" data-offstyle="soft-secondary btn-sm" data-bidder-id="{{.BidderId}}"
           data-inventory-id="{{.InventoryId}}"
           data-style="rounded-24" class="connection">
</div>