<div class="text-nowrap">
    <div title="Edit floor">
        <div class="text-truncate" title="{{.Name}}"
             style="max-width:350px">{{.Name}}</div>
        <span class="d-block small text-muted mt-1 text-truncate">{{.Description}}</span>
    </div>
</div>