<div class="mt-2 mb-2 text-nowrap">
    <div title="Profile name">
        <div class="text-truncate" title="{{.Name}}"
             style="max-width:350px">{{.Name}}</div>
    </div>
    <div class="description">
        <small class="text-muted">{{.Description}}</small>
    </div>
</div>