{{- /*gotype: source/apps/frontend/controller.AssignVideoIndex*/ -}}

{{/*A9R-cx6Rt | <iframe width="640" height="360" src="https://short.ink/A9R-cx6Rt" frameborder="0" scrolling="0" allowfullscreen></iframe>*/}}